{{ block "FormThree" . }}
{{ template "progress-bar.html" . }}
{{ template "form-title.html" . }}
<div>
    <p>Selecione o arquivo CSV fonte dos seus dados</p>
    <br>
    <input name="source-csv" type="file" form="form-three" accept=".csv">
    <br>
    <br>
    <div class="button-container">
        <button method="get" hx-get="/step-two" hx-target="#root-container" class="back">Voltar</button>
        <button form="form-three" type="submit">Próximo</button>
    </div>
</div>
<form enctype="multipart/form-data" method="post" hx-post="/step-three" id="form-three" hx-target="#root-container" class="form-container">
</form>
{{end}}
