{{ block "FormTwo" . }}
{{ template "progress-bar.html" . }}
{{ template "form-title.html" . }}
{{ template "toast-error.html" . }}

<h2><b>Camadas de texto disponíveis no modelo PSD</b></h2>
<p>Selecione quais camadas você quer para serem suas variáveis</p>
<br>
<div class="input-container">
    <div class="layer-checkbox">
        {{template "layer-checkbox.html" .}}
    </div>
</div>
<h2><b>Camadas de imagens</b></h2>
<p>Adicione o nome exato das camadas de imagem do seu PSD que você quer substituir</p>
<br>
<div class="button-container">
    <button method="get" hx-get="/" hx-target="#root-container" class="back">Voltar</button>
    <button hx-trigger="click[validateForm(event)]" form="form-one" type="submit">Próximo</button>
</div>
<form method="post" hx-post="/step-one" id="form-one" hx-target="#root-container" class="form-container">
</form>
{{ end }}