{{ block "TableAssignFields" . }}
{{ $fields := .ThirdForm.Fields }}
<table class="table-assign-container">
    <tr>
        <thead>
            <th>Suas variáveis</th>
            <th>Atribua um campo de seu CSV</th>
        </thead>
    </tr>
    {{ range .FinalData.Layers }}
    <tr>
        <td>
            {{ .Name }}
            <input form="form-four" type="hidden" name="{{ .Name }}" value="{{ .Name }}" />
        </td>
        <td>
            <select form="form-four" class="select-field" id="fields" name="{{ .Name }}">
                {{ $layer := .Name }}
                {{ range $index, $field := $fields }}
                    <option label="" {{ if eq (ToUpper $layer) (ToUpper $field) }} selected {{ end }} value="{{ $field }}">{{ $field }}</option>
                {{ end }}
            </select>
        </td>
    </tr>
    {{end}}
</table>
{{end}}
