html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: sans-serif;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

input[type="text"] {
    all: unset;
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    border-radius: 10px;
}

.button-container {
    display: flex;
    align-items: stretch;
    gap: 10px
}

button {
    flex-grow: 1 !important;
    all: unset;
    background-color: #2adb86;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

    cursor: pointer;
    transition: all 0.2s ease;
}

.back {
    background-color: #0b2239;
}

button:hover {
    filter: brightness(0.9);
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.steps-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.form-title {
    margin-bottom: 20px;
}

.form-error {
    color: #ffffff;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(255, 56, 56);
    background-color: rgb(255, 135, 135);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    gap: 5px;
}

#form-error {
    display: none;
}

.step-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: #0b2239;
    color: #ffffff;
    border-radius: 100%;
}

.step-item-active {
    background-color: #2adb86;
}

.container {
    width: 800px;
    margin: 2rem auto;

    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    gap: 5px;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox-label {
    margin-left: 5px;
    margin-right: 10px;
}

table, th, td {
    border: 1px solid rgb(178, 178, 178);
    border-collapse: collapse;
    padding: 5px;
}

.select-field {
    border: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.layer-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-layer-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.insert-new-image-layer {
    background-color: rgb(218, 218, 218);
    padding: 10px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 0.2s ease;
}

.insert-new-image-layer:hover {
    background-color: rgb(197, 197, 197);

}